*{
	font-size: 50px;
}

#greetings {
	font-size: 1rem;
}

section {
	font-size: 25px;
}

section > p {
	font-size: 1em;
}

#batch {
	font-size: 25px;
}

#batch > p {
	font-size: 1em;
}

#student {
	font-size: 100px;
}

#student > p {
	font-size: 100%;
}