/*

	Syntax of using CSS rules

	selector{
		property:value;
	}
*/

/*Universal Selector*/
/*It targets all the same elements in our webpage*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}


/*Type selector
tag-name*/
h1 {
	color: yellow;
}

/*ID selector*/
/*It targets only one element*/

#zuitt-motto {
/*the letter-spacing property changes the spaces in between the characters in a text*/
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item {
/*text-transform property changes the font to a certain case*/
	text-transform: uppercase;
}

/*Attribute selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*h3{
	letter-spacing: 25px !important;
}*/
/*adjacent sibling selector*/
h3 + img {
/*the height property changes the vertical dimension of an element*/
	height: 300px;
/*the width property changes the horizontal dimension of an element*/
	width: 300px;
	border-radius: 150px;
}

/* Descendant Selector */
/*element-for-reference target-element*/
#bootcamp-learning-list li {
	color: #2D4361;
}

/*General Sibling Selector*/
h2 ~ a {
/*text-decoration property chagnes lines inluded in text -  overline, underline and strike*/
/*none value will remove the underline from our anchor tag*/
	text-decoration: none;
}

/*Child selector*/
form > label {
	color: rgb(10, 200, 0);
}

body {
	background-color: #9AC3FA;
}
section {
/*	vh - viewport height*/
	height: 100vh;
	text-align: center;
}

html {
/* property that changes the scrolling behavior	*/
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	background-color: #4186E0;
}
/*inline element*/
/*block element*/
div {
	display: inline;
/*float - horizontal alignment of its container	*/
	float: right;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: #4B5869;
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.5%;
}

button {
	background-color:white;
	color:  #4B5869;
	border-style: 0;
	border-radius: 15px;
}
