/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
}

nav {
	border-top: 1px;
	border-color: black;
	position: sticky;
	top: 0;
	z-index: 3;
	padding-bottom: 4rem;
	background-color: white;
}
.nav-logo {
	position: sticky;
	display: block;
	float: left;
	padding: 10px;
	margin-left: 3%;
	list-style-type: none;
	z-index: 3;
}

.right-nav {
	position: sticky;
	padding-right: 3%;
	display: block;
	list-style-type: none;
	float: right;
	padding: 10px;
	z-index: 3;
}

.nav {
	font-weight: bold;
	position: relative;
	display: inline;
	padding: 10px;
}


.tuitt-button {
	color: white;
	border: none;
	border-radius: 15px;
	background-color: #c2195b;
	padding: 10px;
	padding-left: 12px;
	padding-right: 12px;
}


/*another section*/
#bg-image {
	border: none;
	padding: 0px;
	margin: 0px;
	min-height: 40vh;
	display: block;
	position: relative;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	max-height: 200vh;
	background-size: 150%;
	background-position: center;
	z-index: 2;
	}

.front-bg{
	
	background-size: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 40vh;
}

.container {
	position: relative;
	padding: 2em;
	text-align: right;
	font-family:'Zilla Slab', sans-serif;
	color: white;

}


.title {
	font-size: 3rem;
	position: relative;
	padding: 20px;
	padding-left: 50%;
}

.subtitle {
	position: relative;
	padding: 20px;
	padding-left: 50%;

}

.apply-button {

	color: white;
	border: none;
	border-radius: 15px;
	background-color: #c2195b;
	margin-left: 80%;
	padding: 10px;
	padding-left: 45px;
	padding-right: 45px;
}

section > h2 {
	font-size: 3rem;
	font-weight: bold;
}
/*intro section*/
.title-2 {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family:"Zilla Slab";
}

.intro-description {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 3rem;
	margin-bottom: 5rem;
}
/*pre-footer
/*another section*/
.pre-footer {
	position: relative;
	background-color: #f7fbfb;
	text-align: center;
}

.prefooter-description {
	position: relative;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.book-button {
	position: relative;
	border:none;
	color: white;
	border-radius: 15px;
	background-color: #336589;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 2rem;
}

/*footer*/
footer {
	text-align: center;
}
footer span {
	background-position: center;
	position: relative;
	line-height: 60px;
	padding: 1rem;
}