/*5. external styling*/
#external {
	color: dodgerblue;
}

/*6. using universal selector*/
* {
	font-family: Helvetica, monospace;
	font-size: 20pt;
}

/*7. type selector*/
h1 {
	font-size: 50pt;
}

/*8. id selector*/
#descList {
	text-transform: uppercase;
}

/*9. class selector*/
.lang {
	background-color: orange;
}

/*10. attribute selector*/
[title="tools"]{
	border-width: 2px;
	border-style: solid;
	border-color: violet;
}

/*11. adjacent sibling selector*/
img + ul {
	list-style-type: none;
}

/*12. descendant selector*/
body img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

/*13. generic sibling selector */
ol ~ p {
	text-align: center;
}

/*14. child selector*/
body > ul {
	letter-spacing: 7px;
}